<div
  *ngIf="invoice$ | async as invoice"
  class="pt-8 md:pt-14 lg:pt-16 lg:grid lg:place-content-center"
>
  <div class="container max-w-[730px] w-full md:min-w-[730px] lg:h-full">
    <lbk-go-back routerLink="/"></lbk-go-back>

    <lbk-invoice-detail
      class="block mt-8"
      [invoice]="invoice"
      [pending]="(pending$ | async)!"
      [errorMessage]="error$ | async"
      (edit)="edit()"
      (delete)="delete(invoice.id)"
      (maskAsPaid)="maskAsPaid(invoice.id)"
    ></lbk-invoice-detail>
  </div>

  <lbk-invoice-details-actions
    class="block mt-14 md:hidden"
    [pending]="(pending$ | async)!"
    [isPaid]="isPaid(invoice)"
    [errorMessage]="error$ | async"
    (edit)="edit()"
    (delete)="delete(invoice.id)"
    (maskAsPaid)="maskAsPaid(invoice.id)"
  ></lbk-invoice-details-actions>
</div>
