<div [formGroup]="parent">
  <div [formArrayName]="arrayName">
    <div [formGroupName]="groupName" class="grid grid-cols-6 gap-y-6 gap-x-4">
      <!-- item name -->
      <lbk-input-array
        [parent]="parent"
        [groupName]="groupName"
        [arrayName]="arrayName"
        controlName="name"
        placeHolder="Banner Design"
        label="Item Name"
        class="col-span-6"
      ></lbk-input-array>

      <!-- end item name -->

      <!-- quantity -->
      <lbk-input-array
        [parent]="parent"
        [groupName]="groupName"
        [arrayName]="arrayName"
        controlName="quantity"
        placeHolder="1"
        label="Qty."
        class="col-span-1"
      ></lbk-input-array>
      <!-- end quantity -->

      <!-- price -->
      <lbk-input-array
        [parent]="parent"
        [groupName]="groupName"
        [arrayName]="arrayName"
        controlName="price"
        placeHolder="100"
        label="Price"
        class="col-span-2"
      ></lbk-input-array>
      <!-- end price -->

      <!-- total -->
      <lbk-item-total-input [total]="(total$ | async)!" class="col-span-2">
      </lbk-item-total-input>
      <!-- end total -->

      <!-- delete button -->
      <lbk-delete-invoice-item-button
        (click)="delete.emit()"
        class="col-span-1 place-self-center"
      ></lbk-delete-invoice-item-button>
      <!-- end delete button -->
    </div>
  </div>
</div>
