<!-- title -->
<lbk-invoice-form-title [id]="invoice?.id"></lbk-invoice-form-title>
<!-- end title -->

<form [formGroup]="invoiceForm" class="mt-6 lg:mt-12">
  <lbk-address-form
    [parent]="invoiceForm"
    groupName="senderAddress"
    data-cy="sender-address"
  ></lbk-address-form>

  <lbk-bill-to-form
    class="block mt-10 lg:mt-12"
    [parent]="invoiceForm"
    groupName="billTo"
  ></lbk-bill-to-form>

  <lbk-items-form
    arrayName="items"
    class="block mt-16 lg:mt-8"
    [parent]="invoiceForm"
    (delete)="delete($event)"
    (addNewItem)="addNewItem()"
  ></lbk-items-form>
</form>
