@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~ng-pick-datetime/assets/style/picker.min';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@layer base {
  :root {
    // colors
    --primary-900: 252, 94%, 67%;
    --primary-800: 252, 100%, 73%;

    --danger-900: 0, 80%, 63%;
    --danger-800: 0, 100%, 80%;

    --success-900: 160, 67%, 52%;
    --warning-900: 33.6, 100%, 50%;

    --text-fill-900: 228, 29.4%, 6.7%;
    --text-fill-800: 231.4, 20.3%, 27.1%;

    --text-inverted-900: 0, 0%, 100%;

    --muted-900: 232, 22.6%, 61%;
    --muted-800: 231, 20.2%, 61.2%;
    --muted-700: 231.3, 36.5%, 62.9%;
    --muted-600: 231, 37%, 63%;
    --muted-500: 231, 73%, 93%;

    --bg-fill: 240, 27%, 98%;
    --bg-elements: 0, 0%, 100%;

    --dark-900: 231.4, 20.3%, 27.1%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  body {
    @apply font-mono bg-fill text-fill-900 text-base font-medium;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  //make default form look nice
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='month'],
  [type='search'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full text-base font-bold border-muted-500 rounded-[4px] shadow-sm py-4 px-5 focus:border-primary-900 focus:ring-0 disabled:text-muted-900 disabled:border-none;
  }
}

input.ng-invalid.ng-dirty {
  @apply border-2 border-danger-900;
}

@layer components {
  .container-large {
    max-width: 1536px;
    margin: 0 auto;
  }

  //CUSTOM APPLY HERE
  .btn {
    @apply inline-block  font-bold text-center rounded-full py-4 px-6 shadow-sm disabled:opacity-50;
  }

  .btn-primary {
    @apply bg-primary-900 text-white shadow-primary-900;
  }

  .btn-danger {
    @apply bg-danger-900 text-white shadow-danger-900;
  }

  .btn-basic {
    @apply bg-fill text-muted-900;
  }

  .btn-dark {
    @apply bg-dark-900 text-muted-900 shadow-dark-900;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
